<section class="menu container mx-auto px-16 py-8" id="items">
  <div class="btn-container">
    <a href="/">
      <button class="filter-btn " type="button" data-id="all">
        All Items
      </button>
    </a>
    <a href="/burger">
      <button class="filter-btn" type="button" data-id="burger">
        burger
      </button>
    </a>
    <a href="/pizza">
      <button class="filter-btn" type="button" data-id="pizza">
        pizza
      </button>
    </a>
    <a href="/cooldrink">
      <button class="filter-btn" type="button" data-id="cooldrink">
        cooldrink
      </button>
    </a>
    <a href="/icecream">
      <button class="filter-btn" type="button" data-id="icecream">
        icecream
      </button>
    </a>
    <a href="/shakes">
      <button class="filter-btn active" type="button" data-id="shake">
        shakes
      </button>
    </a>
    <a href="/combo">
      <button class="filter-btn" type="button" data-id="combo">
        combo offer
      </button>
    </a>
  </div>

  <div class="section-center grid grid-cols-4 col-gap-12 row-gap-16">
    <% shakes.forEach(function(item){ %>
    <div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/<%= item.image%>" alt="shakes" />
      <div class="text-center">
        <h2 class="mb-4 text-lg"><%= item.name%></h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs"
          ><%= item.size%></span
        >
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹<%= item.price%></span>
          <button
            data-pizza="<%= JSON.stringify(item) %>"
            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
          >
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <% })%>
  </div>
</section>
